In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('HeadHunter_train.csv')

In [4]:
df.head()

   review_id             city  ... rest_recovery_rating target
0          0           Ижевск  ...                    4      0
1          1           Москва  ...                    1      8
2          2     Екатеринбург  ...                    5      0
3          5  Санкт-Петербург  ...                    5      0
4          7           Москва  ...                    2      8

[5 rows x 12 columns]

In [6]:
df.fillna(value={'positive':'Ничего','negative':'Ничего','position':'','city':''}, inplace = True)

In [7]:
positive_by_target = {}
negative_by_target = {}
for _,row in df.iterrows():
  t = row.target.split(',')
  for target in t:
    if target not in positive_by_target:
      positive_by_target[target] = []
    positive_by_target[target].append(row.positive)
    if target not in negative_by_target:
      negative_by_target[target] = []
    negative_by_target[target].append(row.negative)

In [8]:
len_positive_by_target = {}
len_negative_by_target = {}
for target in positive_by_target:
  for text in positive_by_target[target]:
    if target not in len_positive_by_target:
      len_positive_by_target[target] = []
    len_positive_by_target[target].append(len(text))
  for text in negative_by_target[target]:
    if target not in len_negative_by_target:
      len_negative_by_target[target] = []
    len_negative_by_target[target].append(len(text))

In [9]:
binwidth = 4
for target in len_positive_by_target:
    print(f"Positive reviews with target {target}: среднее - {np.average(len_positive_by_target[target])}, \
Стандартное отклонение - {np.std(len_positive_by_target[target])}, Число записей - {len(len_positive_by_target[target])}")
    print(f"Negative reviews with target {target}: среднее - {np.average(len_negative_by_target[target])}, \
Стандартное отклонение - {np.std(len_negative_by_target[target])} Число записей - {len(len_negative_by_target[target])}")

Positive reviews with target 0: среднее - 245.46436223396657, Стандартное отклонение - 224.4335089652223, Число записей - 21003
Negative reviews with target 0: среднее - 89.81497881255059, Стандартное отклонение - 127.71236723897296 Число записей - 21003
Positive reviews with target 8: среднее - 49.72469284691339, Стандартное отклонение - 70.36277762360882, Число записей - 26534
Negative reviews with target 8: среднее - 70.09429411321324, Стандартное отклонение - 118.57758390095778 Число записей - 26534
Positive reviews with target 7: среднее - 183.3631713554987, Стандартное отклонение - 287.40621701645966, Число записей - 391
Negative reviews with target 7: среднее - 192.2531969309463, Стандартное отклонение - 274.3364090001159 Число записей - 391
Positive reviews with target 1: среднее - 109.09752967597048, Стандартное отклонение - 159.13384655685374, Число записей - 3117
Negative reviews with target 1: среднее - 192.93262752646777, Стандартное отклонение - 300.49042997864706 Число записей - 3117
Positive reviews with target 3: среднее - 64.99912203687445, Стандартное отклонение - 209.04202038213552, Число записей - 1139
Negative reviews with target 3: среднее - 66.64442493415277, Стандартное отклонение - 231.32325950527766 Число записей - 1139
Positive reviews with target 6: среднее - 129.8493919550982, Стандартное отклонение - 238.10739720246028, Число записей - 1069
Negative reviews with target 6: среднее - 287.73058933582786, Стандартное отклонение - 374.0336728283631 Число записей - 1069
Positive reviews with target 4: среднее - 142.23423423423424, Стандартное отклонение - 218.239184223915, Число записей - 111
Negative reviews with target 4: среднее - 274.5405405405405, Стандартное отклонение - 445.54915571490693 Число записей - 111
Positive reviews with target 5: среднее - 162.3244680851064, Стандартное отклонение - 204.57401521010715, Число записей - 376
Negative reviews with target 5: среднее - 246.80585106382978, Стандартное отклонение - 428.4998846393985 Число записей - 376
Positive reviews with target 2: среднее - 326.2307692307692, Стандартное отклонение - 272.13943084838917, Число записей - 13
Negative reviews with target 2: среднее - 137.07692307692307, Стандартное отклонение - 94.12795018440144 Число записей - 13

# Вручную изучим отзывы, которые были отклонены, и попробуем понять что означают target

## Target - 2 Непонятно; будто несоответствие между отзывом и оценками

In [ ]:
for i, item in enumerate(positive_by_target['2']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

In [ ]:
for i, item in enumerate(negative_by_target['2']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

## Target 1 Оскорбления/Личная неприязнь. Слова - рабство, говно и подобное

In [ ]:
for i, item in enumerate(positive_by_target['1']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

In [ ]:
for i, item in enumerate(negative_by_target['1']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

## Target 3 Непонятный бред вместо слов/дублирование

In [ ]:
for i, item in enumerate(positive_by_target['3']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

In [ ]:
for i, item in enumerate(negative_by_target['3']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

## Target 4 Политика-Национализм-Наркотики(?)

In [ ]:
for i, item in enumerate(positive_by_target['4']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

In [ ]:
for i, item in enumerate(negative_by_target['4']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

## Target 5 Похоже на раскрытие личностей/рабочих процессов компании

In [ ]:
for i, item in enumerate(positive_by_target['5']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

In [ ]:
for i, item in enumerate(negative_by_target['5']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

## Target 6 Похоже на данные о работодателе, которые повлекут уголовную ответственность. Например чёрная зарплата, несоблюдение ТК и подобное. С причиной номер 6 часто идёт 8.

In [ ]:
for i, item in enumerate(positive_by_target['6']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

In [ ]:
df[df['positive']=='Работа в центре, близость к дому']

      review_id             city  ... rest_recovery_rating target
4587      17538  Санкт-Петербург  ...                    1    6,8

[1 rows x 12 columns]

In [ ]:
for i, item in enumerate(negative_by_target['6']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

## Target 7 Если человек не работал в этой компании, заявку отклоняют

In [ ]:
for i, item in enumerate(positive_by_target['7']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

In [ ]:
df[df['positive']=='Гибкий график. Хорошие условия труда.']

In [ ]:
for i, item in enumerate(negative_by_target['7']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

## Target 8

In [ ]:
for i, item in enumerate(positive_by_target['8']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

In [ ]:
for i, item in enumerate(negative_by_target['8']):
  if i < 100:
    print(str(i) + '  ' + item)
    print('\n')

# Распределение таргетов

In [ ]:
target_var = {}
for _,row in df.iterrows():
  if row.target not in target_var:
    target_var[row.target] = 0
  target_var[row.target] += 1

In [ ]:
target_var

{'0': 21003,
 '1': 1269,
 '1,2,6': 1,
 '1,3': 9,
 '1,3,5': 2,
 '1,3,6': 1,
 '1,3,8': 3,
 '1,4': 24,
 '1,4,6': 3,
 '1,4,8': 4,
 '1,5': 78,
 '1,5,6': 7,
 '1,5,6,8': 1,
 '1,5,8': 33,
 '1,6': 141,
 '1,6,8': 48,
 '1,7': 15,
 '1,7,8': 2,
 '1,8': 1476,
 '2': 12,
 '3': 905,
 '3,5': 1,
 '3,5,7': 1,
 '3,5,8': 1,
 '3,6': 1,
 '3,6,8': 1,
 '3,7': 5,
 '3,8': 209,
 '4': 38,
 '4,6': 5,
 '4,6,8': 1,
 '4,8': 36,
 '5': 102,
 '5,6': 9,
 '5,6,8': 6,
 '5,7': 13,
 '5,7,8': 1,
 '5,8': 121,
 '6': 368,
 '6,7': 3,
 '6,8': 473,
 '7': 326,
 '7,8': 25,
 '8': 24093}